doctype html
html
  head
    title Komal Dance Academy
    block scripts
    block style
      
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/logo.png")
                    
            li #[a(href="/") Home]
            li #[a(href="/class") Class Info]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer  | Copyright © 2022 KomalDanceStudio.com || All rights reserved.
        
     