extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    
    section#introSection 
        div Welcome to Tip Toes Dance Studio
        div.second Eat Dance Sleep Repeat 
    section#missionSection 
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box 
                div.card-img
                    img(src="/static/move1.png")  
                div.card-content 
                    p This is the best dance academy.
        div.card
            h3 Dance the way you like
            div.card-box 
                div.card-img
                    img(src="/static/move2.png")  
                div.card-content 
                    p Lets's Dance with us.
        div.card
            h3 Expert Teaching
            div.card-box 
                div.card-img
                    img(src="/static/move3.png")  
                div.card-content 
                    p Learn all forms of dance.
    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors 
            img(src="static/s1.png",alt="sponsor image",class="spimage")
            img(src="static/s3.png",alt="sponsor image",class="spimage")
            img(src="static/s2.png",alt="sponsor image",class="spimage")
            img(src="static/s44.png",alt="sponsor image",class="spimage")
