h1{
    text-align: center;
    margin: 12px 0;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container{
    min-height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    background-color: rgb(188, 255, 188);
}
.myInput{
    width: 40%;
    padding: 9px;
    margin:8px ;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 9px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(231, 140, 140);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}